.main{
    padding: 30px;
}

.box{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    background: gray;
}
.modal-body{
    padding: 10px;
}
.btn{
    margin: 0 10px ;
}
.category{
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}
.name{
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}
.description{
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}
.price{
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}
input {
    width: 80%;
}
select{
    width: 80%;
}
img{
    width: 75%;
}
.image{
    width: 200px;
}
