
<div class="example-container">
  <h2>Інгрідієнти</h2>

  <div
    cdkDropList
    #todoList="cdkDropList"
    [cdkDropListData]="ingridients"
    [cdkDropListConnectedTo]="[doneList]"
    class="example-list"
    (cdkDropListDropped)="drop($event)">
    <div class="example-box" *ngFor="let ingridient of ingridients" cdkDrag><img [src]="ingridient.image"><p>{{ingridient.name}}</p></div>
  </div>
</div>

<div class="example-container">
  <h2>Вибрані</h2>

  <div
    cdkDropList
    #doneList="cdkDropList"
    [cdkDropListData]="done"
    [cdkDropListConnectedTo]="[todoList]"
    class="example-list"
    (cdkDropListDropped)="drop($event)">
    <div class="example-box" *ngFor="let ingridient of done" cdkDrag><img [src]="ingridient.image"><p>{{ingridient.name}}</p></div>
  </div>
</div>